<a href="https://colab.research.google.com/github/LuanRocha02/Atividade.Test/blob/main/AtividadePython1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input('digite dinheiro(em dolar):'))
print('US${} = R${}'.format(num, num * 5,64))

digite dinheiro(em dolar):500
US$500 = R$2500

In [ ]:
base=float(input('digite um valor: '))
altura=float(input('digite um valor: '))
print('Area={}m²'.format(base*altura))
print('litro de tinta a se utilizar {:.2f} litros'.format(base*altura/2))

digite um valor: 1.2
digite um valor: 2.6
Area=3.12m²
litro de tinta a se utilizar 1.56 litros

In [ ]:
Valor=float(input('valor da peça de roupa: '))
print('A peça com 5% de desconto é R${:.2f}'.format(Valor-(Valor*0.05)))

valor da peça de roupa: 45.45
A peça com 5% de desconto é R$43.18

In [ ]:
Salario=float(input('digite seu salario:r$ '))
print('Novo salario R${:.2f}'. format(Salario+(Salario*0.15)))

digite seu salario:r$ 16482.45
Novo salario R$18954.82

In [ ]:
import math
num=int(input('digite um numero '))
num2=int(input('digite um numero '))
print('A hipotenusa é {:.2f}'.format(math.hypot(num,num2)))

digite um numero 6
digite um numero 8
A hipotenusa é 10.00

In [ ]:
from math import sin,cos,tan,radians
Angulo=float(input('digite um valor em graus '))
seno=sin(radians(Angulo))
cosseno=cos(radians(Angulo))
tangente=tan(radians(Angulo))
print('seno é {:.2f}'.format(seno))
print('seno é {:.2f}'.format(cosseno))
print('tang é {:.2f}'.format(tangente))

digite um valor em graus 60
seno é 0.87
seno é 0.50
tang é 1.73

In [ ]:
import random
n1=str(input('digite um nome: '))
n2=str(input('digite um nome: '))
n3=str(input('digite um nome: '))
n4=str(input('digite um nome: '))
lista= [n1,n2,n3,n4]
escolhido= random.choice(lista)
print('o aluno escolhido foi {}'.format(escolhido))

digite um nome: Pedro
digite um nome: Ana
digite um nome: Maria
digite um nome: Jose
o aluno escolhido foi Maria

In [ ]:
import random
n1=str(input('digite um nome: '))
n2=str(input('digite um nome: '))
n3=str(input('digite um nome: '))
n4=str(input('digite um nome: '))
lista=[n1,n2,n3,n4]
random.shuffle(lista)
print('A ordem de apresentação será')
print(lista)

digite um nome: joao
digite um nome: maria
digite um nome: jose
digite um nome: ana
A ordem de apresnetação será
['joao', 'maria', 'ana', 'jose']

In [ ]:

'''import pygame
pygame.init()
pygame.mixer.music.load
pygame.mixer.music.play
pygame.event.wait()'''

'import pygame\npygame.init()\npygame.mixer.music.load\npygame.mixer.music.play\npygame.event.wait()'

In [ ]:
n=float(10**(-15))
print('{}'.format(n))

1e-15

In [ ]:
'''calcular velocidade'''
v0=float(input('digite velocidade inicial (em m/s) '))
a=float(input('digite a aceleração(em m/s²): ' ))
t=int(input('digite o tempo(em segundos): '))
V= v0 + (a * t)
print('O valor da velocidade é {}m/s'.format(V))
print('o valor da velocidade em {:.2f}km/h'.format(V * 3.6))

digite velocidade inicial (em m/s) 3
digite a aceleração(em m/s²): 5
digite o tempo(em segundos): 10
O valor da velocidade é 53.0m/s
o valor da velocidade em 190.80km/h

In [ ]:
S0=float(input('Distancia inicial(m): '))
v=float(input('velocidade que se encontra(m/s): '))
t=int(input('tempo em segundos: '))
S= S0 + (v * t)
print('A distancia percorrida é {}m'.format(S))

Distancia inicial(m): 0
velocidade que se encontra(m/s): 5
tempo em segundos: 120
A distancia percorrida é 600.0m

In [ ]:
S0=float(input('Distancia incial em metros: '))
V0=float(input('Velocidade inicial em m/s: '))
t=int(input('tempo em segundos: '))
a=float(input('aceleraçao em m/s²: '))
S= S0 + V0 * t + (a * t**2)/2
print('Distancia em mruv é {}m'. format(S))

Distancia incial em metros: 2
Velocidade inicial em m/s: 2
tempo em segundos: 20
aceleraçao em m/s²: 2
Distancia em mruv é 442.0m

In [ ]:
'''calcular comprimento da circurferencia'''
from math import pi
R=float(input('Digite o raio: '))
C= 2*R*pi
print('A valor da circuferencia é {:.0f}'.format(C))

Digite o raio: 5
A valor da circuferencia é 31

In [15]:
#calcular velocidade media
S=float(input('Distancia final em metros: '))
S0=float(input('Distancia inicial em metros: '))
T=int(input('tempo final: '))
T0=int(input('tempo inicial: '))
Vm=(S - S0)/(T - T0)
print('A velociade media é {:.2f}m/s'.format(Vm))
print('A velocidade em é {:.2f}km/h'. format(Vm * 3.6))

Distancia final em metros: 150000000
Distancia inicial em metros: 0
tempo final: 480
tempo inicial: 0
A velociade media é 312500.00m/s
A velocidade em é 1125000.00km/h

In [12]:
''' converter temperatura de c° para f°'''
c=float(input('temperatura em celsius: '))
f= c/5 * 9 + 32
k= c + 273
print('a temperatura em f° é {:.2f} , e a temperatura absoluta é {} kelvin'.format(f,k))

temperatura em celsius: -273
a temperatura em f° é -459.40 , e a temperatura absoluta é 0.0 kelvin

In [ ]:
from os.path import split
frase=input('digite uma frase: ')
a=frase.upper()
b=frase.lower()
c=len(frase.split())
d=len(frase.strip())
print(a)
print(b)
print(c)
print(d)

digite uma frase: Ola mundo
OLA MUNDO
ola mundo
2
9

In [ ]:
nome=str(input('Digite seu nome completo: ')).strip()
print('Anasilando nome...')
print('Seu nome em maiusculas é {}'.format(nome.upper()))
print('Seu nome em minusulas é {}'.format(nome.lower()))
print('Seu nome tem ao todo {} letras'.format(len(nome) - nome.count('  ')))
separa= nome.split()
print('Seu primeiro nome é {} e ele tem {} letras'.format(separa[0], len(separa[0])))

Digite seu nome completo: Ana maria pedro cardoso
Anasilando nome...
Seu nome em maiusculas é ANA MARIA PEDRO CARDOSO
Seu nome em minusulas é ana maria pedro cardoso
Seu nome tem ao todo 23 letras
Seu primeiro nome é Ana e ele tem 3 letras

In [ ]:
num=int(input('Digite um numero: '))
u=num //1 % 10
d=num //10 % 10
c=num //100 % 10
m=num// 1000 % 10
print('Analisando o numero {} '.format(num))
print('Unidade: {}'.format(u))
print('dezena: {}'.format(d))
print('centena: {}'.format(c))
print('milhar: {}'.format(m))

Digite um numero: 45
Analisando o numero 45
Unidade: 5
dezena: 4
centena: 0
milhar: 0

In [ ]:
cid=str(input('Informe o nome de uma cidade: ')).strip()
print(cid[0:5].upper() == 'SANTO')
print(cid[0:5].lower() == 'santo')

Informe o nome de uma cidade: santo
True
True

In [ ]:
nome=str(input('Digite seu nome completo: ')).strip()
print('Seu nome tem silva? {}'.format('silva' in nome.lower()))

Digite seu nome completo: ana silva
Seu nome tem silva? True

In [ ]:
frase=str(input('Escreva uma frase: ')).upper().strip()
print('A frase poussui {} a'.format(frase.count('A')))
print('A primeira letra A apareceu na posiçao {}'.format(frase.find('A')+1))
print('A ultima letra A aprareceu na posição {}'.format(frase.rfind('A')+1))

Escreva uma frase: Arara azul
A frase poussui 4 a
 A primeira letra A apareceu na posiçao 1
A ultima letra A aprareceu na posição 7

In [ ]:
n=str(input('Informe seu nome completo: ')).strip()
nome= n.split()
print('A primeiro nome é {}'.format(nome[0]))
print('Seu ultimo nome é {}'.format(nome[len(nome)-1]))

Informe seu nome completo: ana maria macedo pinto da silva pereira
A primeiro nome é ana
Seu ultimo nome é pereira

In [ ]:
tempo=int(input('Quantos anos tem seu carro? '))
if tempo <= 3:
  print('Carro novo')
else: 
  print('Carro antigo')

Quantos anos tem seu carro? 5
Carro antigo

In [7]:
from prompt_toolkit.shortcuts.progress_bar.base import E
n1=float(input('Digite a primeira nota: '))
n2=float(input('Digite a segunda nota: '))
m=(n1 + n2)/2
print('Sua média é {}'.format(m))
if m <=5:
   print('reprovado,ESTUDE MAIS!')
else:
   print('Parábens aprovado')
print('...fim...')

Digite a primeira nota: 4
Digite a segunda nota: 6
Sua média é 5.0
reprovado,ESTUDE MAIS!
...fim...

In [ ]:
import random
a=str(input('Digite um numero: '))
n=['1','2','3','4','5']
p=random.choice(n)
if p==a:
   print('voce ganhou')
print('Esse é meu valor {}'.format(a))

Digite um numero: 4
Esse é meu valor 4

In [ ]:
from random import randint
from time import sleep
computador= randint(0, 5)
print('-=-'*20)
print('Vou pensar em um numero entre 0 e 5. Tente adivinhar...')
print('-=-'*20)
jogador=int(input('Em que número eu pensei? '))
print('PROCESSANDO...')
sleep(3)
if jogador==computador:
  print('PARABÉNS! Você conseguiu me vencer!')
else:
  print('Ganhei! Eu pensei no número {} e não no {}!'.format(computador,jogador))

-=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=-
Vou pensar em um numero entre 0 e 5. Tente adivinhar...
-=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=-
Em que número eu pensei? 5
PROCESSANDO...
Ganhei! Eu pensei no número 3 e não no 5!

In [ ]:
v=int(input('Velocidade do carro em km/h: '))
if v<=80:
  print('Velocidade segura')
else:
  print('Velocidade acima do permitido multa de R${:.2f}'.format((v-80)*7))

Velocidade do carro em km/h: 80
Velocidade segura

In [ ]:
n=int(input('Digite um numero qualquer: '))
resto= n%2
if resto == 0:
  print('O numero é par')
else:
  print('O número é impar')

Digite um numero qualquer: 55
O número é impar

In [ ]:
d=float(input('Digite a distancia a ser percorrida em km: '))
if d<=200:
  print('Valor da passagem é R${:.2f}'.format(d*0.5))
else:
  print('Valor da passagem será de R${:.2f}'.format(d*0.45))

Digite a distancia a ser percorrida em km: 210
Valor da passagem será de R$94.50

In [ ]:
from datetime import date
ano=int(input('Informe o valor do ano: '))
if ano == 0:
 ano=date.today().year
if ano % 4 == 0 and ano % 100 !=0 or ano %400 == 0:
  print('O ano é bissexto')
else:
 print('O ano não é bissexto')

Informe o valor do ano: 0
O ano não é bissexto

In [ ]:
a=int(input('Informe um numero '))
b=int(input('Informe um numero '))
c=int(input('Informe um numero '))
menor=a
if b < a and b < c:
  menor = b
if c < a and c < b:
  menor = c
maior=a
if b > a and b > c:
  maior=b
if c > a and c > b:
  maior=c   
print('O menor valor é {}'.format(menor))
print('O maior valor é {}'.format(maior))

Informe um numero5
Informe um numero4
Informe um numero6
O menor valor é 4
O maior valor é 6

In [ ]:
s=float(input('Valor do seu salario: '))
if s<=1250:
  print('Seu novo salario será de R${:.2f}'.format((s*0.15)+s))
else:
  print('Seu novo salario será de R${:.2f}'.format((s*0.1)+s))

Valor do seu salario: 1000
Seu novo salario será de R$1150.00

In [ ]:
a=float(input('Informe um numero '))
b=float(input('Informe um numero '))
c=float(input('Informe um numero '))
if a< b + c and b< a+ c and c< b+a:
  print('Os valores formam um triangulo')
else:
  print('Não forma um triangulo')

Informe um numero 2
Informe um numero 3
Informe um numero 4
Os valores formam um triangulo

In [ ]:
print('\033[7;34;40mOla mundo!!')

Ola mundo!!

In [ ]:
n=(3*5)+4**2
print(n)

31

In [ ]:
bool(1)

True

In [ ]:
n=19%2
print(n)

1

In [ ]:
x=str('curso de python no cursoemvideo')
print(x[:5])

curso

In [3]:
g=float((3+25/3)/2)
print('O valor de g é {:.2f}'.format(g))

O valor de g é 5.67